{% extends "base.html" %}
{% block content %}
{% if articles %}
{% for article in articles_page.object_list %}
<article class="post">
      <h2 class="title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
      <dif class="meta">
        <div class="date"> {{ article.locale_date}} </div>
      <div class="entry-content">{{ article.summary }}</div>
      <div class="read-more"><a href="{{ SITEURL }}/{{ article.url }}">read more...</a></div>
    </article>
    {% endfor %}

      {# pagination if necessary #}
      {% if articles_page.has_next() or articles_page.has_previous() %}
        {% include 'pagination.html' %}
      {% endif %}
  {% endif %}
{% endblock %}
